<div>
    <div class="container-fluid" style="margin-top: 30px" id="_body">
        <div class="row-fluid">
            <div class="span11">
                <div class="row-fluid">
                    <h2>Modify contrib, <span data-bind="text: name"></span></h2>
                </div>
                <div class="row-fluid">
                    <div class="span11">
                        <a id="save_button" class="btn btn-primary btn-large"
                           data-bind="click: save, css : {disabled : !isModifyed()}">Save</a>
                        <a href="#" data-bind="attr : {href : url}, text: date" target="_blank"></a>
                    </div>
                </div>
                <div id="items_list" data-bind="template: { name: 'contrib-item-template', foreach: list}">
                </div>
            </div>
            <div class="span1">
                menu
            </div>
        </div>
    </div>

    <script type="text/html" id="contrib-item-template">
        <div class="row-fluid" data-bind="if: !_isRemoved()">
            <div class="span1">
                <div data-bind="ifnot: isValid()">
                    <a href="#" data-bind="tooltip : errors"><i class="icon-warning-sign"></i></a>
                    <p data-bind="text: errors().length"></p>
                </div>
                <div>
                    <a href="#" data-bind="click: remove"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="span2">
                <input type="text" class="input-xarge name-input" data-bind="value: name_1"/>
            </div>
            <div class="span2">
                <input type="text" class="input-xarge name-input" data-bind="value: name_2"/>
            </div>
            <div class="span2">
                <input type="text" class="input-small" data-bind="value: family_rel"/>
            </div>
            <div class="span2">
                <input type="text" class="input-small" data-bind="value: private_rel"/>
            </div>
            <div class="span2">
                <input type="text" class="input-small mousetrap" data-bind="value: prof_rel"/>
            </div>
        </div>
    </script>
</div>