<div id="_body">
    <div class="container-fluid" style="margin-top: 30px">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid" data-bind="with: contribs">
                    <h2>Hi <span data-bind="text: $parent.name"></span>, click <a href="#" data-bind="click: startCreate">here</a> to start create new contrib</h2>
                    <h2>Or choose one to edit</h2>
                    <!-- ko foreach: list -->
                    <h3>
                        <a href="#" data-bind="click: remove"><i class="icon-remove"></i></a>
                        <a href="#/contrib/item" data-bind="link: ref"><span data-bind="text: name"></span>&nbsp;<span data-bind="text: date"></span></a>
                    </h3>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" data-form-type='create' data-form-resource='contrib'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New contib</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Name" data-bind="value: name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputUrl">Url</label>
                <div class="controls">
                    <input type="text" id="inputUrl" placeholder="Url" data-bind="value: url">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-bind="click: cancel">Close</a>
        <a href="#" class="btn btn-primary" data-bind="click: save">Create</a>
    </div>
</div>