<div id="_body">
    <div>
        <div class="container-fluid" style="margin-top: 30px" id="_body">
            <div class="row-fluid">
                <div class="span12">
                    <!-- ko with: contrib -->
                    <div class="row-fluid">
                        <h2><span data-bind="text: name"></span>&nbsp;<span data-bind="text: date"></span></h2>
                        <small><a href="#" data-bind="attr : {href : url}, text: date" target="_blank"></a></small>
                    </div>
                    <!-- /ko -->
                    <div id="items_list" data-bind="template: { name: 'contrib-item-template', foreach: list}">
                    </div>
                </div>
            </div>
        </div>
        <script type="text/html" id="contrib-item-template">
            <div class="row-fluid">
                <div class="span2">
                    <div data-bind="text: name_1"></div>
                </div>
                <div class="span2">
                    <div data-bind="text: name_2"></div>
                </div>
                <div class="span2">
                    <div data-bind="text: family_rel"></div>
                </div>
                <div class="span2">
                    <div data-bind="text: private_rel"></div>
                </div>
                <div class="span2">
                    <div data-bind="text: prof_rel"></div>
                </div>
            </div>
        </script>
    </div>

</div>